<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Pataakam</string>
		<key>type</key>
		<string>Asamyuta</string>
		<key>meaning</key>
		<string>Flag</string>
		<key>index</key>
		<integer>1</integer>
		<key>photo</key>
		<string>Pataakam</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tripataakam</string>
		<key>type</key>
		<string>Asamyuta</string>
		<key>meaning</key>
		<string>Three parts of a flag</string>
		<key>index</key>
		<integer>2</integer>
		<key>photo</key>
		<string>Tripataakam</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ardhapataakam</string>
		<key>type</key>
		<string>Asamyuta</string>
		<key>meaning</key>
		<string>Half flag</string>
		<key>index</key>
		<integer>3</integer>
		<key>photo</key>
		<string>Ardhapataakam</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kartarimukham</string>
		<key>type</key>
		<string>Asamyuta</string>
		<key>meaning</key>
		<string>Scissors hand</string>
		<key>index</key>
		<integer>4</integer>
		<key>photo</key>
		<string>Kartarimukham</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mayura</string>
		<key>type</key>
		<string>Asamyuta</string>
		<key>meaning</key>
		<string>Peacock</string>
		<key>index</key>
		<integer>5</integer>
		<key>photo</key>
		<string>Mayura</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ardhachandra</string>
		<key>type</key>
		<string>Asamyuta</string>
		<key>meaning</key>
		<string>Half moon</string>
		<key>index</key>
		<integer>6</integer>
		<key>photo</key>
		<string>Ardhachandra</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Araalam</string>
		<key>type</key>
		<string>Asamyuta</string>
		<key>meaning</key>
		<string>Bent</string>
		<key>index</key>
		<integer>7</integer>
		<key>photo</key>
		<string>Araalam</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shukhatundam</string>
		<key>type</key>
		<string>Asamyuta</string>
		<key>meaning</key>
		<string>Parrot&apos;s beak</string>
		<key>index</key>
		<integer>8</integer>
		<key>photo</key>
		<string>Shukhatundam</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mushti</string>
		<key>type</key>
		<string>Asamyuta</string>
		<key>meaning</key>
		<string>Closed fist</string>
		<key>index</key>
		<integer>9</integer>
		<key>photo</key>
		<string>Mushti</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shikharam</string>
		<key>type</key>
		<string>Asamyuta</string>
		<key>meaning</key>
		<string>Peak</string>
		<key>index</key>
		<integer>10</integer>
		<key>photo</key>
		<string>Shikharam</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kapitam</string>
		<key>type</key>
		<string>Asamyuta</string>
		<key>meaning</key>
		<string>Elephant-apple</string>
		<key>index</key>
		<integer>11</integer>
		<key>photo</key>
		<string>Kapitam</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Trilingam</string>
		<key>type</key>
		<string>Asamyuta</string>
		<key>meaning</key>
		<string>Three lingas (see Shivalingam)</string>
		<key>index</key>
		<integer>12</integer>
		<key>photo</key>
		<string>Trilingam</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Katakamukham</string>
		<key>type</key>
		<string>Asamyuta</string>
		<key>meaning</key>
		<string>Opening of a bracelet</string>
		<key>index</key>
		<integer>13</integer>
		<key>photo</key>
		<string>Katakamukham</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Suchi</string>
		<key>type</key>
		<string>Asamyuta</string>
		<key>meaning</key>
		<string>Needle</string>
		<key>index</key>
		<integer>14</integer>
		<key>photo</key>
		<string>Suchi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ardhasuchi</string>
		<key>type</key>
		<string>Asamyuta</string>
		<key>meaning</key>
		<string>Half needle</string>
		<key>index</key>
		<integer>15</integer>
		<key>photo</key>
		<string>Ardhasuchi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Chandrakala</string>
		<key>type</key>
		<string>Asamyuta</string>
		<key>meaning</key>
		<string>Crescent</string>
		<key>index</key>
		<integer>16</integer>
		<key>photo</key>
		<string>Chandrakala</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Padmakosham</string>
		<key>type</key>
		<string>Asamyuta</string>
		<key>meaning</key>
		<string>Lotus bud</string>
		<key>index</key>
		<integer>17</integer>
		<key>photo</key>
		<string>Padmakosham</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sarpasirisam</string>
		<key>type</key>
		<string>Asamyuta</string>
		<key>meaning</key>
		<string>Snake&apos;s hood</string>
		<key>index</key>
		<integer>18</integer>
		<key>photo</key>
		<string>Sarpasirisam</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mrigasirisam</string>
		<key>type</key>
		<string>Asamyuta</string>
		<key>meaning</key>
		<string>Deer&apos;s head</string>
		<key>index</key>
		<integer>19</integer>
		<key>photo</key>
		<string>Mrigasirisam</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Simhamukham</string>
		<key>type</key>
		<string>Asamyuta</string>
		<key>meaning</key>
		<string>Lion&apos;s face</string>
		<key>index</key>
		<integer>20</integer>
		<key>photo</key>
		<string>Simhamukham</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kangulam</string>
		<key>type</key>
		<string>Asamyuta</string>
		<key>meaning</key>
		<string>Tail</string>
		<key>index</key>
		<integer>21</integer>
		<key>photo</key>
		<string>Kangulam</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Alapadmam</string>
		<key>type</key>
		<string>Asamyuta</string>
		<key>meaning</key>
		<string>Lotus in full bloom</string>
		<key>index</key>
		<integer>22</integer>
		<key>photo</key>
		<string>Alapadmam</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Chaturam</string>
		<key>type</key>
		<string>Asamyuta</string>
		<key>meaning</key>
		<string>Square</string>
		<key>index</key>
		<integer>23</integer>
		<key>photo</key>
		<string>Chaturam</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Brahmaram</string>
		<key>type</key>
		<string>Asamyuta</string>
		<key>meaning</key>
		<string>Bee, beetle</string>
		<key>index</key>
		<integer>24</integer>
		<key>photo</key>
		<string>Brahmaram</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hamsasyam</string>
		<key>type</key>
		<string>Asamyuta</string>
		<key>meaning</key>
		<string>Swan beak</string>
		<key>index</key>
		<integer>25</integer>
		<key>photo</key>
		<string>Hamsasyam</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hamsapakhsham</string>
		<key>type</key>
		<string>Asamyuta</string>
		<key>meaning</key>
		<string>Swan wing</string>
		<key>index</key>
		<integer>26</integer>
		<key>photo</key>
		<string>Hamsapakhsham</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Samdamsham</string>
		<key>type</key>
		<string>Asamyuta</string>
		<key>meaning</key>
		<string>Pincers</string>
		<key>index</key>
		<integer>27</integer>
		<key>photo</key>
		<string>Samdamsham</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mukulam</string>
		<key>type</key>
		<string>Asamyuta</string>
		<key>meaning</key>
		<string>Bud</string>
		<key>index</key>
		<integer>28</integer>
		<key>photo</key>
		<string>Mukulam</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tamrachuda</string>
		<key>type</key>
		<string>Asamyuta</string>
		<key>meaning</key>
		<string>Rooster</string>
		<key>index</key>
		<integer>29</integer>
		<key>photo</key>
		<string>Tamrachuda</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Trishulam</string>
		<key>type</key>
		<string>Asamyuta</string>
		<key>meaning</key>
		<string>Trident</string>
		<key>index</key>
		<integer>30</integer>
		<key>photo</key>
		<string>Trishulam</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Murlimudra</string>
		<key>type</key>
		<string>Asamyuta</string>
		<key>meaning</key>
		<string>Flute mudra</string>
		<key>index</key>
		<integer>31</integer>
		<key>photo</key>
		<string>Murlimudra</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Anjali</string>
		<key>type</key>
		<string>Samyuta</string>
		<key>meaning</key>
		<string>Salutation</string>
		<key>index</key>
		<integer>1</integer>
		<key>photo</key>
		<string>Anjali</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kapotam</string>
		<key>type</key>
		<string>Samyuta</string>
		<key>meaning</key>
		<string>Pigeon</string>
		<key>index</key>
		<integer>2</integer>
		<key>photo</key>
		<string>Kapotam</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Karkatam</string>
		<key>type</key>
		<string>Samyuta</string>
		<key>meaning</key>
		<string>Crab</string>
		<key>index</key>
		<integer>3</integer>
		<key>photo</key>
		<string>Karkatam</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Swastikam</string>
		<key>type</key>
		<string>Samyuta</string>
		<key>meaning</key>
		<string>Cross</string>
		<key>index</key>
		<integer>4</integer>
		<key>photo</key>
		<string>Swastikam</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dola Hasta</string>
		<key>type</key>
		<string>Samyuta</string>
		<key>meaning</key>
		<string>Swing</string>
		<key>index</key>
		<integer>5</integer>
		<key>photo</key>
		<string>DolaHasta</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Pushpaputam</string>
		<key>type</key>
		<string>Samyuta</string>
		<key>meaning</key>
		<string>Holding flowers</string>
		<key>index</key>
		<integer>6</integer>
		<key>photo</key>
		<string>Pushpaputam</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Utsangam</string>
		<key>type</key>
		<string>Samyuta</string>
		<key>meaning</key>
		<string>Holding flowers</string>
		<key>index</key>
		<integer>7</integer>
		<key>photo</key>
		<string>Utsangam</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shivalingam</string>
		<key>type</key>
		<string>Samyuta</string>
		<key>meaning</key>
		<string>Shivalingam (symbol for the god Shiva)</string>
		<key>index</key>
		<integer>8</integer>
		<key>photo</key>
		<string>Shivalingam</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Katakavardhanam</string>
		<key>type</key>
		<string>Samyuta</string>
		<key>meaning</key>
		<string>Pair of bracelets</string>
		<key>index</key>
		<integer>9</integer>
		<key>photo</key>
		<string>Katakavardhanam</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kartariswastikam</string>
		<key>type</key>
		<string>Samyuta</string>
		<key>meaning</key>
		<string>Crossing two scissors</string>
		<key>index</key>
		<integer>10</integer>
		<key>photo</key>
		<string>Kartariswastikam</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shakatam</string>
		<key>type</key>
		<string>Samyuta</string>
		<key>meaning</key>
		<string>Chariot wheel</string>
		<key>index</key>
		<integer>11</integer>
		<key>photo</key>
		<string>Shakatam</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shankha</string>
		<key>type</key>
		<string>Samyuta</string>
		<key>meaning</key>
		<string>Conch</string>
		<key>index</key>
		<integer>12</integer>
		<key>photo</key>
		<string>Shankha</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Chakram</string>
		<key>type</key>
		<string>Samyuta</string>
		<key>meaning</key>
		<string>Discus (wheel)</string>
		<key>index</key>
		<integer>13</integer>
		<key>photo</key>
		<string>Chakram</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Samputam</string>
		<key>type</key>
		<string>Samyuta</string>
		<key>meaning</key>
		<string>Containers</string>
		<key>index</key>
		<integer>14</integer>
		<key>photo</key>
		<string>Samputam</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Paasha</string>
		<key>type</key>
		<string>Samyuta</string>
		<key>meaning</key>
		<string>Rope/bond or sin</string>
		<key>index</key>
		<integer>15</integer>
		<key>photo</key>
		<string>Paasha</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Keelakam</string>
		<key>type</key>
		<string>Samyuta</string>
		<key>meaning</key>
		<string>Axle</string>
		<key>index</key>
		<integer>16</integer>
		<key>photo</key>
		<string>Keelakam</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Matsya</string>
		<key>type</key>
		<string>Samyuta</string>
		<key>meaning</key>
		<string>Fish</string>
		<key>index</key>
		<integer>17</integer>
		<key>photo</key>
		<string>Matsya</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kurma</string>
		<key>type</key>
		<string>Samyuta</string>
		<key>meaning</key>
		<string>Tortoise</string>
		<key>index</key>
		<integer>18</integer>
		<key>photo</key>
		<string>Kurma</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Varaha</string>
		<key>type</key>
		<string>Samyuta</string>
		<key>meaning</key>
		<string>Boar</string>
		<key>index</key>
		<integer>19</integer>
		<key>photo</key>
		<string>Varaha</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Garuda</string>
		<key>type</key>
		<string>Samyuta</string>
		<key>meaning</key>
		<string>Eagle</string>
		<key>index</key>
		<integer>20</integer>
		<key>photo</key>
		<string>Garuda</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nagabandam</string>
		<key>type</key>
		<string>Samyuta</string>
		<key>meaning</key>
		<string>Coiled serpent</string>
		<key>index</key>
		<integer>21</integer>
		<key>photo</key>
		<string>Nagabandam</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Katava</string>
		<key>type</key>
		<string>Samyuta</string>
		<key>meaning</key>
		<string>Cot</string>
		<key>index</key>
		<integer>22</integer>
		<key>photo</key>
		<string>Katava</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bherunda</string>
		<key>type</key>
		<string>Samyuta</string>
		<key>meaning</key>
		<string>Bird</string>
		<key>index</key>
		<integer>23</integer>
		<key>photo</key>
		<string>Bherunda</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Avahittha</string>
		<key>type</key>
		<string>Samyuta</string>
		<key>meaning</key>
		<string>To hide (secret in heart)</string>
		<key>index</key>
		<integer>24</integer>
		<key>photo</key>
		<string>Avahitta</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bana Hasta</string>
		<key>type</key>
		<string>Samyuta</string>
		<key>meaning</key>
		<string>Arrow gesture</string>
		<key>index</key>
		<integer>25</integer>
		<key>photo</key>
		<string>BanaHasta</string>
	</dict>
</array>
</plist>
